/*****************************************************/
/* Additional Styles for MailChimp/Instagram/Twitter */
/*****************************************************/

/* Mail Chimp Stuff */
#mc_embed_signup{
	background:#fff; 
	clear:left; 
	font:14px Helvetica,Arial,sans-serif; 
}

.mc-sub-header, .mc-sub-social {
	margin-top: -11px;
}
#mce-responses  {
	font-family: 'Fjalla One', sans-serif;
	font-size: 10px;
	text-transform: uppercase;
  color: #4b444e;
	padding-top: 5px;
}

/*Instagram API CSS */
#instafeed {
	width: 100%;
}

.insta-pic {
	border-radius:5px; 
	width:100%;
	padding-left: .5%;
}

#pic {
	width: 13.25%; 
	display: inline-block; 
	*display: inline;
	margin-left: .5%;
	margin-right: .5%;
}

/* Twitter API CSS */
#twitter-info {
	width: 75px;
}
#twitter-button {
margin-right: 75px;
}